{% extends "layout.html" %}
{% block style %}
    body {
        margin-right: 0;
        margin-bottom: 0;
        background-color: rgb(33, 33, 33);
    }

    #main {
        margin-top: 59px;
        margin-left: 152px;
        padding: 0px;
    }

    #video {
        width: 100%;
        height: calc(100vh - 63px);
        box-shadow 0 0 5px rgba(0,0,0,0.6);
    }

    #video::cue {
        background-color: transparent;
    }
{% endblock %}
{% block content %}
    <video id="video" autoplay="autoplay" controls="controls" src="{{movie}}">
        {% if subtitles %}
            <track src="{{subtitles}}" label="English" default="">
        {% endif %}
    </video>
    <script>
        document.querySelector("#video").focus();
    </script>
{% endblock %}
